<div class="title text-center">
  <h1>PROJETOS</h1>

  <div class="form-inline form justify-content-center">
    <div class="form-grupo mg-2">
      <input type="text" class="form-control mr-2" placeholder="buscar" [(ngModel)]="filterProjetos" />
      <button class="btn btn-outline-success">buscar</button>
    </div>
  </div>

  <h1>Filtro: {{filterProjetos}}</h1>
</div>

<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>
        <button class="btn btn-outline-primary" (click)="alternarImagemProjeto()"> Mostrar Imagem</button>
      </th>
      <th># ID</th>
      <th>Name</th>
      <th>Project Status</th>
      <th>What</th>
      <th>What Wil we Do</th>
      <th>Why</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="projetos && projetos.length">
    <tr *ngFor="let projeto of projetos">
      <th>
        <img *ngIf="mostrarImagemProjeto"
          src="http://localhost:5000/img/{{ projeto.image }}"
          alt="{{ projeto.name }}"
          class="image"
        />
      </th>
      <th>{{ projeto.id }}</th>
      <th>{{ projeto.name }}</th>
      <th>{{ projeto.projectStatus }}</th>
      <th>{{ projeto.what }}</th>
      <th>{{ projeto.whatWillWeDo }}</th>
      <th>{{ projeto.why }}</th>
      <th>
        <button class="btn btn-success"></button>
        <button class="btn btn-danger"></button>
      </th>
    </tr>
  </tbody>
  <tfoot *ngIf="!projetos.length">
    <td colspan="8" class="text-center">
      <h3>Nenhum Projeto Encontrado</h3>
    </td>
  </tfoot>
</table>

<div class="title text-center">
  <h1>CURSOS</h1>

  <div class="form-inline form justify-content-center">
    <div class="form-grupo mg-2">
      <input type="text" class="form-control mr-2" placeholder="buscar" [(ngModel)]="filterCursos" />
      <button class="btn btn-outline-success">buscar</button>
    </div>
  </div>

  <h1>Filtro: {{filterCursos}}</h1>
</div>

<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>
        <button class="btn btn-outline-primary" (click)="alternarImagemCurso()" >Mostrar Imagem</button>
      </th>
      <th># ID</th>
      <th>Name</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="cursos && cursos.length">
    <tr *ngFor="let curso of cursos">
      <th>
        <img *ngIf="mostrarImagemCurso"
          src="http://localhost:5000/img/{{ curso.image }}"
          alt="{{ curso.name }}"
          [style.width.px]="imagemLargura"
          [style.margin.px]="imagemMargem"
        />
      </th>
      <th>{{ curso.id }}</th>
      <th>{{ curso.name }}</th>
      <th>
        <button class="btn btn-success"></button>
        <button class="btn btn-danger"></button>
      </th>
    </tr>
  </tbody>
  <tfoot *ngIf="!cursos.length">
    <td colspan="8" class="text-center">
      <h3>Nenhum Curso Encontrado</h3>
    </td>
  </tfoot>
</table>
<!--

<h1 *ngIf='projetos'>PROJETOS</h1>
<h1 *ngIf='!projetos'>NÃO PROJETOS</h1>
<div *ngFor="let projeto of projetos">
    <p>ID: {{projeto.id}} </p>
    <p>name: {{projeto.name}} </p>
    <p>image: {{projeto.image}} </p>
    <p>projectStatus: {{projeto.projectStatus}} </p>
    <p>What: {{projeto.what}} </p>
    <p>whatWillWeDo: {{projeto.whatWillWeDo}} </p>
    <p>why: {{projeto.why}} </p>
    <hr>
</div>
<hr>

<h1 *ngIf='cursos'>CURSOS</h1>
<h1 *ngIf='!cursos'>NÃO CURSOS</h1>
<div *ngFor="let curso of cursos">
    <p>ID: {{curso.id}} </p>
    <p>name: {{curso.name}} </p>
    <hr>
</div>

-->
